{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}



<div class="container col-xl-12 col-xxl-10 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-6 text-center text-lg-start"> 
            <div class="h-100">
                <img src="{% static 'assets/creation.png' %}" class="card-img-top" alt="">
            </div>
    </div>

    <div class="col-md-10 mx-auto col-lg-6">
        <h2 class="display-6 fw-bold 1h-1 mb-3 text-center">Create New Ticket</h2>
        <form class="p-4 p-md-5 border rounded-3 bg-dark" method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
                {% render_field form.ticket_title class="form-control" %}
                <label for="floatingInput">Ticket Title</label>
                </div>
                <div class="form-floating mb-3">
                    {% render_field form.ticket_description class="form-control" %}
                    <label for="floatingPassword">Tell us more about the issue...</label>
                </div>
                
                <button class="w-100 btn btn-lg btn-primary" type="submit">submit</button>
        </form>
    </div>
</div>

{% endblock content %}