{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container col-xl-12 col-xxl-10 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-6 text-center text-lg-start">
            <div class="h-100">
                <img src="{% static 'assets/creation.png' %}" class="card-img-top" alt="Image depicting ticket creation">
            </div>
        </div>

        <div class="col-md-10 mx-auto col-lg-6">
            <h2 class="display-6 fw-bold lh-1 mb-3 text-center">Create New Ticket</h2>
            <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {% render_field form.ticket_title class="form-control" id="ticket_title" %}
                    <label for="ticket_title">Ticket Title</label>
                </div>
                <div class="form-floating mb-3">
                    {% render_field form.ticket_description class="form-control" id="ticket_description" %}
                    <label for="ticket_description">Tell us more about the issue...</label>
                </div>
                
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        Please correct the errors below.
                    </div>
                {% endif %}

                <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
