{% extends 'base.html' %}
{% load humanize %}

{% block content %} <!-- Start of content block -->
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">ID ticket</th>
            <th scope="col">Titre du ticket</th>
            <th scope="col">Client</th>
            <th scope="col">Date créée</th>
            <th scope="col">Statut</th>
            <th scope="col">Actions</th> <!-- Column for actions -->
          </tr>
        </thead>
        <tbody>
          {% if tickets %}
            {% for ticket in tickets %}
            <tr>
              <th scope="row">{{ ticket.id }}</th>
              <td>{{ ticket.ticket_title }}</td>
              <td>{{ ticket.customer }}</td>
              <td>{{ ticket.created_on|date:"d/m/Y" }}</td>
              <td>
                {% if ticket.status == 'Pending' %}
                  <span class="badge bg-danger">Pending</span>
                {% elif ticket.status == 'Active' %}
                  <span class="badge bg-warning">Active</span>
                {% elif ticket.status == 'Resolved' %}
                  <span class="badge bg-success">Resolved</span>
                {% endif %}
              </td>
              <td>
                <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'delete_ticket' ticket.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
              </td>
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="6" class="text-center">No tickets available to display.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
