{% extends 'base.html' %}

{% block content %}

<div class="row p-5 mb-4 bg-dark rounded-3">
    <div class="col-md-8">
        <div class=" py-5">
            <h1 class="display-6 fw-bold">{{ticket.ticket_title}}</h1>
            <p class="">
                {{ticket.ticket_description}} <!--hedhi li bcg te5ou esem ticket li hatitou automatiquement-->
            </p>
            <span class="badge bg-success">Active</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body bg-dark "  >
                <div class=" py-5">
                    <h2 class="display-6">Informations rapides</h2>
                    <p>Voici quelques Informations rapides sur ce ticket et le client que vous accompagne</p>
                    <ul class="icon-list">
                        <li><b>Identifiant unique du ticket :</b> {{ticket.ticket_id}}</li> <!--hedhi li bcg te5ou id  ticket li hatitou automatiquement-->
                        <li><b>Cliente:</b> {{ticket.customer}}</li>
                        <li><b>Ingénieur:</b> {{ticket.engineer}}</li>
                        <li><b>Créer:</b>  {{ticket.created_on}}</li>
                        <li><b>Severity:</b> {{ticket.severity}}</li>
                        
                        
                    



                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% if ticket.is_resolved %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title"></h5>
      {{ticket.resolution_steps}}
    </div>
  </div>
 {% else %}
 {% if request.user.is_engineer %}

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">résoudre le ticket </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <div class="">
                                
                                <form action="{% url 'resolve-ticket' ticket.ticket_id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">voici comment est le problème a été résolu</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="rs"></textarea>
                                    </div>
                                    <button class="btn btn-primary">Save</button>
                                </form>
                               
                            </div>    
                         </div>
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </form>
</div>
 </div>
 {% endif %}
 {% endif %}
 {% endblock content %}



