{% extends 'base.html' %}

{% block content %}
<section class="dashboard-header p-5 mb-4 bg-dark rounded-3">
    <div class="container-fluid py-5 text-white">
        <h1 class="display-5 fw-bold">Tableau de bord client</h1>
        <p class="col-md-8 fs-4">Utilisation de séries</p>
        <a href="{% url 'create-ticket' %}" class="btn btn-primary btn-lg" role="button" aria-label="Créer un nouveau ticket">Créer un nouveau ticket</a>
    </div>
</section>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <section class="active-tickets p-5 mb-4 bg-dark rounded-3">
                <div class="py-5 text-white">
                    <h2 class="display-6 fw-bold">Tickets Actifs<br>{{ active_tickets }}</h2>
                </div>
            </section>
        </div>
        <div class="col">
            <section class="closed-tickets p-5 mb-4 bg-dark rounded-3">
                <div class="py-5 text-white">
                    <h2 class="display-6 fw-bold">Tickets Fermés<br>{{ closed_tickets }}</h2>
                </div>
            </section>
        </div>
        <div class="col">
            <section class="all-tickets p-5 mb-4 bg-dark rounded-3">
                <div class="py-5 text-white">
                    <h2 class="display-6 fw-bold">Tous les Tickets<br>{{ tickets }}</h2>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock content %}
